<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#0d253a">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#0d253a">
    <meta name="google-site-verification" content="Y-iHNjTV9nRYkLNR6wzmsoKuqVngH78X9P6eTDYE-jA" />

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">

    <title>Zephyr</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/navbar-styles.css" rel="stylesheet">
</head>
<body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand zephyr">Zephyr</a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/profile"><img class="navbar-profile" src="<%= user.steam.avatar %>"><%= user.steam.name %></a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/developer">Developer</a></li>
                    <li class="active"><a href="/admin">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row info-containers">
            <div class="col-sm-6 info-container">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>admin</strong>: <%= user.admin %>
                </p>

                <%if (user.email == undefined) { %>
                    Set your email to keep up to date with <span class="zephyr">Zephyr</span>.
                <% } %>
            </div>

            <div class="col-sm-6 info-container">
                <h3><span class="fa fa-steam"></span> Steam</h3>
                <p>
                    <strong>id</strong>: <%= user.steam.id %><br>
                    <strong>name</strong>: <%= user.steam.name %><br>
                    <strong>avatar</strong>: <%= user.steam.avatar %><br>
                </p>
            </div>
        </div>

        <div class="row info-containers">
            <h3>Apps <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#create-app-modal"><span class="fa fa-plus"></span> Create App</button></h3>
            <% if(apps.length == 0) { %>
                No apps.
            <% } else { %>

            <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Developer</th>
                    <th>Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < apps.length; i++) {%>
                    <tr>
                        <td><%= apps[i].publicId %></td>
                        <td><span data-toggle="tooltip" data-placement="right" title="<%= apps[i].apiKey %>"><%= apps[i].name %></span></td>
                        <td><a class="no-bold" href="https://steamcommunity.com/profiles/<%= apps[i].developer.steam.id %>"><%= apps[i].developer.steam.name %></a></td>
                        <% if (apps[i].type == 0) { %>
                            <td class="app-unverified"><span class="fa fa-warning" data-toggle="tooltip" data-placement="right" title="Unverified App"></span></td>
                        <% } else if (apps[i].type == 1) { %>
                            <td class="app-verified"><span class="fa fa-check-circle" data-toggle="tooltip" data-placement="right" title="Verified App"></span></td>
                        <% } else if (apps[i].type == 2) { %>
                            <td class="app-official"><span class="fa fa-shield" data-toggle="tooltip" data-placement="right" title="Official App"></span></td>
                        <% } else if (apps[i].type == 3) { %>
                            <td><span class="fa fa-power-off" data-toggle="tooltip" data-placement="right" title="Disabled"></span></td>
                        <% } %>
                        <td class="col-md-3">
                            <div class="btn-group">
                              <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Edit <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="/edit-app/<%= apps[i].publicId %>/set-unverified"><span class="fa fa-warning"></span> Unverified</a></li>
                                <li><a href="/edit-app/<%= apps[i].publicId %>/set-verified"><span class="fa fa-check-circle"></span> Verified</a></li>
                                <li><a href="/edit-app/<%= apps[i].publicId %>/set-official"><span class="fa fa-shield"></span> Official</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" data-toggle="modal" data-target="#edit-app-modal" data-app-id="<%= apps[i].publicId %>" data-name="<%= apps[i].name %>" data-api-key="<%= apps[i].apiKey %>"><span class="fa fa-pencil"></span> Edit App</a></li>
                              </ul>
                            </div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Danger Zone <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="/edit-app/<%= apps[i].publicId %>/disable"><span class="fa fa-power-off"></span> Disable</a></li>
                                <li><a href="/edit-app/<%= apps[i].publicId %>/delete"><span class="fa fa-trash-o"></span> Delete</a></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
        </div>

        <div class="row info-containers">
            <h3>Users</h3>
            <% if(users.length == 0) { %>
                No users.
            <% } else { %>

            <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i]._id %></td>
                        <td><a class="no-bold" href="https://steamcommunity.com/profiles/<%= users[i].steam.id %>"><%= users[i].steam.name %></a></td>
                        <% if (users[i].admin) { %>
                            <td><span class="fa fa-check-circle" data-toggle="tooltip" data-placement="right" title="Admin"></span></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                        <td>
                            <% if (user.steam.id == users[i].steam.id) { %>
                                (You)
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>

    <div class="modal fade" id="create-app-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="create-app-form" class="form-horizontal" action="/create-app" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalLabel">Create App</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputAppName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAppName" placeholder="Zephyr" name="appName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputApiKey" class="col-sm-2 control-label">API Key</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputApiKey" placeholder="API Key" name="apiKey" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="appType1" class="col-sm-2 control-label">App Type</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="appType" id="appType1" value="0" required> Unverified
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="appType" id="appType2" value="1" required> Verified
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="appType" id="appType3" value="2" required> Official
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-app-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="edit-app-form" class="form-horizontal" action="/edit-app" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalLabel">Edit App</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputAppName" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAppId" placeholder="ID" name="appName" disabled required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAppName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAppName" placeholder="Zephyr" name="appName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputApiKey" class="col-sm-2 control-label">API Key</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputApiKey" placeholder="API Key" name="apiKey" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});

$('#edit-app-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var appId = button.data('app-id');
    var appName = button.data('name');
    var apiKey = button.data('api-key');
    var modal = $(this);

    modal.find('.modal-title').text('Edit ' + appName);
    modal.find('#inputAppId').val(appId);
    modal.find('#inputAppName').val(appName);
    modal.find('#inputApiKey').val(apiKey);

    $('#edit-app-form').attr('action', '/edit-app/' + appId + '/set-data');
});
</script>
</html>